.aside__bar{
    min-width: 100px;
}
.block__fast{
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 15px;
    margin-bottom: 10px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    cursor: pointer;
}
.aside__emoji{
    
}