.ava{
    max-width: 400px;
}


.profile_title{
    padding: 10px 25px;
    border-radius: 20px;
    background-color: rgba(179, 179, 179, 0.795);
}
.profile > *{
    margin-bottom: 20px;
}
.missions_stats > div{
    margin: 0 50px;
}