table, th, td {
    border: 1px solid;
  }

  .buy{
    padding: 0 25px;
    border-radius: 30px;
    background-color: green;
    margin-left: 20px;
  }
  .add_item{
    padding: 5px 15px;
    border-radius: 30px;
    background-color: teal;
    
  }